# Entorno virtual
venv/
.env

# Archivos de Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Archivos generados por Jupyter y Quarto
.jupyter_cache/
_cache/
_freeze/
.quarto/

# Archivos temporales y del sistema
.DS_Store
Thumbs.db
*.log
*.tmp

# Archivos de lock de entornos
poetry.lock
Pipfile.lock
*.sqlite3

# Opcional: si quieres ignorar todo el contenido generado en docs/
# (solo hazlo si NO estás usando GitHub Pages)
# docs/

/.quarto/
